.dashboard--toolbar{
    background-color: #008E5A !important;
    margin: 0;
    height: 60px;
    color: #fff !important;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

@media screen and (max-width: 800px){
    #dashboard-date{
        display: none;
    }
}