.navbar-header{
    background: linear-gradient(90deg, rgba(0, 142, 90, 1) 0%, rgba(0, 142, 90, 1) 48%, rgba(0, 142, 90, 1) 99%);
    display: flex;
}

.navbar-header .avatar{
    margin-left: auto;
}